:root {
    --col1: darkgreen;
    --col2: #333;
    --col3: #F1F1F1;
    --col4: grey;
    --col5: lightgrey;
    --col6: darkseagreen;
    --col7: rgb(255, 151, 151);
    --col8: rgb(0, 195, 255);
}

* {
    font-family: arial;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 200px;
    font-family: fantasy;
    color: var(--col1);
}

.containerCard {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 700px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    overflow: hidden;
}

.btnPrev {
    position: absolute;
    top: 230px;
    right: 175px;
    font-family: fantasy;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px;
    width: 70px;
    height: 20px;
    background-color: var(--col3);
    color: var(--col2);
    cursor: pointer;
    transition: linear 0.2s;
}
.btnPrev:hover {
    background-color: var(--col2);
    color: var(--col3);
    box-shadow: 1px 1px 3px var(--col1);
}
.btnNext {
    position: absolute;
    top: 230px;
    right: 100px;
    font-family: fantasy;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px;
    width: 70px;
    height: 20px;
    background-color: var(--col3);
    color: var(--col2);
    cursor: pointer;
    transition: linear 0.2s;
}
.btnNext:hover {
    background-color: var(--col2);
    color: var(--col3);
    box-shadow: 1px 1px 3px var(--col1);
}

.card1, .card2, .card3 {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: linear 0.4s;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    user-select: none;
    /* cursor: pointer; */
}

.card1 {
    display: flex;
    background-color: var(--col6);
}

.card2 {
    display: flex;
    background-color: var(--col7);
}

.card3 {
    display: flex;
    background-color: var(--col8);
}

.photoEtIdentite {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.description {
    margin-left: 20px;
    margin-right: 10px;
}

.photo1, .photo2, .photo3 {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.photo1 {
    background-image: url("../img/photo1.jpg");
}
.photo2 {
    background-image: url("../img/photo2.jpg");
}
.photo3 {
    background-image: url("../img/photo3.jpg");
}

.identite {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}
.nom {
    font-family: fantasy;
    font-size: 1.5rem;
}